.sect_main{
    background: url("/assets/carbon_fibre.png");
    background-repeat: repeat;
}

.sect_main .sect_about .div_content{
    position: relative;
    overflow: visible;
}

.sect_main .sect_about .div_photo{
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .35);
    position: absolute;
    width: 50%;

    top: -85px;
    z-index: 0;
    left: 20%;
}

.sect_main .sect_about .div_photo img{
    vertical-align: top;
    width: 100%;
}

.sect_main .sect_about article{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .35);
    background-image: linear-gradient(to top, #0D4D4B, #688558);
    border:  3px #FFFFFF solid;
    padding: 40px;
    
    position: relative;
    width: 50%;
    z-index: 1;
    
    border-radius: 10px;
    float: right;
    top: 100px;
    
    color: #FFFFFF;
    margin: auto;
}

.sect_main .sect_about article h3{
    text-decoration: underline;
    margin-bottom: 5px;
    font-weight: 300;

    font-size: 40px;
}

.sect_main .sect_about article p{
    margin-bottom: 28px ;
    line-height: 28px;
}