.sect_main .sect_galery {
    overflow: hidden;
}

.sect_main .sect_galery .div_photo{
    width: 25%;
    float: left;
}

.sect_main .sect_galery .div_photo img{
    width: 100%;
    vertical-align: top;
    opacity: .7;
}

.sect_main .sect_galery .div_photo:hover img {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

/* Ubicacion */

.sect_main .sect_place {
    color:  #fff;
    background-color:  transparent;
    padding: 60px 0;
    margin-bottom: 100px;
}

.sect_main .sect_place .title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 40px;

    text-decoration: underline;
}

.sect_main .sect_place .div_direccion{
    float: left;
    width: 50%;
    text-align: left;
    margin-left: 20%;
}

.sect_main .sect_place .div_hour{
    float: right;
    width: 50%;
    text-align: left;
}


.sect_main .sect_place .div_hour .hour{
    text-align: center;
}

/* mapa */

.sect_main .sect_map{
    overflow: hidden;
    width: 100%;
}

.sect_main .sect_map iframe{
    width: 100%;
    max-height: 600px;
}

footer{

    background-color: #122c2a;

}

footer a{
    text-decoration: underline;
    font-display: none;
    color: #fff;
}

footer .copyright{
    text-align: center;
    padding: 15px;
}