@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

/* Definir la animación */
@keyframes appear {
    from { opacity: 0; } /* Opacidad inicial */
    to { opacity: 1; } /* Opacidad final */
}

  
/* Definir la animación */
@keyframes typing {
    from { width: 0; } /* Anchura inicial */
    to { width: 80%; } /* Anchura final */
}
  


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{
    animation: appear 1s ease-in;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}

.div_header{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    width: 100%;
    background: url("https://wallpaperaccess.com/full/2834744.png") #27566B;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

header .div_header{
    position: relative;
    height: 700px;
}

header .nav_main{
    width: 100%;
    text-align: right;
}

header .nav_main a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 400px 20px;
    text-decoration: none;
    position: relative;
}

header .nav_main a:hover{
    text-decoration: underline;
}

header .dic_text{
    display: inline-block; /* Hacer que el elemento sea en línea */
    white-space: nowrap; /* Evitar saltos de línea */
    overflow: hidden; /* Ocultar el texto que no está visible */
    border-right: 3px solid #ffffff; /* Añadir un borde derecho para el cursor */
    animation: typing 2s steps(20); /* Agregar la animación */

    width: 100%;
    color: #fff;
    position: absolute;
    top: 25;
    margin-top: -52%;
}

header .dic_text .name{
    text-decoration: underline;
    font-weight: 600;
    font-size: 50px;
}

header .dic_text .name span{
    font-weight: 300;
}

header .dic_text h3{
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
}